<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<div class="row">
    <div class="col-lg-12">
        <a href="#" onclick="Createnew(); return false;" class="btn btn-primary">Add New</a>
        @Html.Partial("~/Views/Shared/Master/_employee.cshtml")
    </div>

    <div class="col-lg-12">
        <br />
        <table id="tblemployee" class="table table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Designation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<script>

    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        //alert();
        Loaddesignation();
        Loademployee();
    });

    //edit function
    function FunctionEdit(element) {

        var code = $(element).closest('tr').find('#hdncode').val();
        Createnew();
        $.ajax({
            type: 'post',
            url: 'Employee/GetBycode',
            data: { code: code },
            async: false, // for loading data from db
            success(data) {
                if (data != null) {
                    $('#txtcode').val(data.code);
                    $('#txtname').val(data.name);
                    $('#txtemail').val(data.email);
                    $('#txtphone').val(data.phone);
                    $('#ddldesignation').val(data.designation);
                }
            },
            error() {

            }

        });
    }

    //delete function

    function FunctionDelete(element) {
        if (confirm("Do you want to remove?")) {
        var code = $(element).closest('tr').find('#hdncode').val();

        $.ajax({
            type: 'post',
            url: 'Employee/Remove',
            data: { code: code },
            async: false, // for loading data from db
            success(data) {
                if (data == 'Pass') {
                    Loademployee();
                }
            },
            error() {

            }

        });
        }
    }

    //loading the data into load enploye
        
    function Loademployee() {
        var empdata = [];
        $.ajax({
            type: 'post',
            url: 'Employee/Getall',
            data: {},
            async: false, // for loading data from db
            success(data) {
                if (data != null) {
                
                    $.each(data, function (key, value) {

                        var editbutton = "<a href='#' onclick='FunctionEdit(this)' class='btn btn-primary'>Edit</a>"
                        var deletebutton = "<a href='#' onclick='FunctionDelete(this)' class='btn btn-danger'>Delete</a>"
                        var hidden = "<input type='hidden' id='hdncode' value='" + value.code + "'/>";
                        var action = hidden + editbutton + ' | ' + deletebutton;

                        empdata.push([value.code, value.name, value.email, value.phone, value.designation, action])
                    });
                }

            },
            error() {

            }

        });
        js('#tblemployee').dataTable({
            destroy: true,
            data: empdata

        });
    }

    function Createnew() {
        Clearall();
        $('#btnmodel').trigger('click'); // to execute add new button
    }

    function Clearall() {
        $('#txtcode').val('');
        $('#txtname').val('');
        $('#txtemail').val('');
        $('#txtphone').val('');
        $('#ddldesignation').val('');
    }

    //loading the data ino select dropdown

    function Loaddesignation() {
        $('#ddldesignation option').remove();
        $('#ddldesignation').append("<option value=''>Select</option>");
        $.ajax({
            type: 'post',
            url: 'Employee/GetallDesignation',
            data: {},
            success(data) {
                if (data != null) {

                    $.each(data, function (key, value) {
                        $('#ddldesignation').append("<option value='" + value.name + "'>" + value.name + "</option>");
                    });
                }

            },
            error() {

            }

        });
    }

    function save() {

        var isproceed = true;
        var code = $('#txtcode').val();
        var name = $('#txtname').val();
        var email = $('#txtemail').val();
        var phone = $('#txtphone').val();
        var designation = $('#ddldesignation').val();

        if (name == '') {
            isproceed = false;

            $('#txtname').css('border-color', 'red');
        }
        else {
            $('#txtname').css('border-color', '#cc');

        }
        if (isproceed) {

            var empdata = new Object();
            empdata.code = code;
            empdata.name = name;
            empdata.email = email;
            empdata.phone = phone;
            empdata.designation = designation;

            $.ajax({
                type: 'post',
                url: 'Employee/Save',
                data: empdata,
                success(data) {
                    if (data == 'Pass') {
                        Loademployee();
                        $('.close').trigger('click');// to close popup after save
                        alert('Saved sucessfully');
                        Clearall();
                    }
                    else {
                        alert('Failed');
                    }

                },
                error() {

                }

            });
        }

    }

</script>



